  // media queries

  $screen-xs: 320px;
  $screen-sm: 768px;
  $screen-md: 1025px;

  $screen-lg: 1200px;
  $screen-lg2: 1201px;
  $screen-xl: 1600px;
  $screen-xxl: 1800px;


  $border-blue: 1px solid var(--unnamed-color-007af9);

  :root {

    /* Colors: */
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-007af9: #007AF9;
    --unnamed-color-797979: #797979;
    --unnamed-color-000000: #000000;
    --unnamed-color-0e4f6e: #0E4F6E;
    --red: #bb103b;
    --red-base: #d31243;
    --light-gray: #80808061;
    --color-blue: #0397f0;
    --color-white: #ffffff;
    --color-green: #3fa577;
    --light-gray-2: #0000001a;


    --bg-main: #F2F6F9 0% 0% no-repeat padding-box;


    /* Font/text values */
    --unnamed-font-family-helvetica-neue: Helvetica Neue;
    --unnamed-font-style-normal: normal;
    --unnamed-font-style-italic: italic;
    --unnamed-font-weight-100: 100px;
    --unnamed-font-weight-300: 300px;
    --unnamed-font-weight-medium: medium;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-18: 18px;
    --unnamed-font-size-20: 20px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-18: 18px;
    --unnamed-line-spacing-22: 22px;
    --unnamed-line-spacing-24: 24px;
    --unnamed-line-spacing-25: 25px;
  }
